.main {
    /* border: 1px red dashed; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    /* pointer-events: none; */
} 
  
.right {
    width: 10px;
    height: 30px;
    border: 1px red solid;
    right: -6px;
    position: absolute;
    cursor:ew-resize;
}

.left {
    width: 10px;
    height: 30px;
    border: 1px red solid;
    left: -6px;
    position: absolute;
    cursor:ew-resize;
}

.border {
    position: absolute;
    border: 1px blue dashed;
    /* pointer-events: none; */
    /* width: 95%;
    height: 95%; */
    /* cursor:move; */
    /* z-index: 100; */
}

.move {
    /* position: absolute; */
    /* border: 1px blue solid; */
    width: 95%;
    height: 95%;
    cursor:move;
    /* z-index: 100; */
    /* pointer-events: none; */
}

.topLeft {
    background-color: red;
    width: 1px;
    height: 1px; 
    position: absolute;
    top: -1px;
    left: -1px;
    /* cursor: nw-resize; */
    border-radius: 50%;
}

.topRight {
    width: 1px;
    height: 1px; 
    position: absolute;
    top: -1px;
    right: -1px;
    /* cursor: ne-resize; */
    background-color: red;
    border-radius: 50%;
}

.bottomLeft {
    width: 1px;
    height: 1px; 
    position: absolute;
    bottom: -1px;
    left: -1px;
    /* cursor: sw-resize; */
    background-color: red;
    border-radius: 50%;
}

.bottomRight {
    width: 1px;
    height: 1px; 
    position: absolute;
    bottom: -1px;
    right: -1px;
    /* cursor: se-resize; */
    background-color: red;
    border-radius: 50%;
}

.topRight:after, .topLeft:after, .bottomLeft:after, .bottomRight:after {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    content: ' ';
    top: -5px;
    left: -5px;
    display: block;
    position: absolute;
}

.rotateBottomRight {
    border: 1px red solid;
    width: 18px;
    height: 18px; 
    position: absolute;
    bottom: -30px;
    right: -30px;
    cursor: grabbing;
}

.rotate {
    width: 15px;
    height: 15px;
    stroke-width: 2px;
    stroke: red;
}